html{
    box-sizing: border-box;
    font-family: "Karla", sans-serif;
    font-size: 16px;
    background-color: hsla(204, 4%, 48%, 0.432);
}
*,*:before, *:after{
    box-sizing: inherit;
}
h4{
    font-weight: bold;
}
h2, h4,p{
    margin: 0;
}
#card{
    width: 600px;
    height: 450px;
    box-shadow: 2px;
    border-radius: 100px;
    margin-top: 50px;
    margin-left: 200px;
    
}
.top{
    width: 100%;
    height: 40%;
    border:  
    margin:0px;
    padding: 20px;
    background-color: white;

}
#join{
    color:hsl(179, 62%, 43%);
    line-height: 30px;
}
.bottom{
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: row;
    color: white;

}
.bottom-right,.bottom-left{
    flex: 2;
    display: inline-block;
    padding: 20px;
    text-align: left;
    
    
}
button{
    background-color: hsl(71, 73%, 54%);
    width: 70%;
    border-radius: 5px;
    height: 40px;
    color: white;
    font-weight: bold;
    border: 2px white;
    box-shadow: 2px;
    margin-top: 50px;
    text-align: center;
    margin-left: 15%;
    transition: background-color 0.4s
   
}
button:hover{
    background-color: hsl(71, 90%, 31%) ;
    
}
#thirty-day{
    color:hsl(71, 73%, 54%) ;
    line-height: 40px;
}
p{
    color: hsl(218, 22%, 67%);
}
.bottom-right{
    background-color: hsl(179, 62%, 43%) ;
    line-height: 25px;
    text-align: left;
}
.bottom-left{
    background-color:  hsl(179, 62%, 40%);
    line-height: 40px;
    padding: 20px;
    
   
}
ul{
    list-style: none;
}
#month{
   padding-left: 10px;
  
   

   
}
#why-us{
    text-align:left;
    padding-left: 30px;
}
#pricing{
    font-size: 20px;
    font-weight: bold;
    color:hsl(71, 73%, 54%) ;
    margin: 0;
    text-align: left;
    padding: 0%;
    
}
#month, #pricing{
    margin: 0px;

}
#amount{
    display: flex;
    flex-direction:row ;
    margin: 0px;
    padding: 10px;
}